* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #f0e68c, #8a2be2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 750px;
  padding: 0 10px;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#grid-container {
  border: 1px solid black;
  aspect-ratio: 1;
}

header,
footer {
  text-align: center;
  background-color: maroon;
  color: #f0f0f0;
  padding: 0.2rem;
}

header {
  margin-bottom: 0.5rem;
}

footer {
  margin-top: 0.5rem;
}

.buttons-top,
.buttons-bottom {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.btn {
  background-color: #006767;
  color: white;
  padding: 0.5rem 2rem;
  flex-basis: 115px;
  margin: 2px;
  border: 1px outset black;
  border-radius: 10px;
}

.btn:hover {
  background: darkmagenta;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.square {
  /* flex-basis: 100%; // reassigned to js */
  aspect-ratio: 1; /* maintain square shape */
  border: 1px solid pink;
}
