* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*  border: 1px solid red; */
}
html,
body {
  min-height: 100vh;
}

body {
  background-color: beige;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#grid-container {
  border: 1px solid black; /* make the outer border same width as the inner ones */
  aspect-ratio: 1;
  margin: 1rem 15%;
}

header,
footer {
  text-align: center;
}

header {
  margin-bottom: 0.5rem;
}

footer {
  margin-top: 0.5rem;
}

.buttons-top,
.buttons-bottom {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.btn {
  padding: 0.5rem 2rem;
  flex-basis: 120px;
  margin: 2px;
  background-color: bisque;
  border: 1px outset black;
  border-radius: 10px;
}

.btn:hover {
  background-color: gold;
}

.row {
  display: flex;
  /* justify-content: center; */
  flex-wrap: nowrap;
}

.square {
  /* flex-basis: 100%; // reassigned to js */
  aspect-ratio: 1; /* maintain square shape */
  border: 1px solid lightgrey;
}
